
<!-- form contato-->
<br>
<div class="container">
  <h1 class="fontBaby">Entre em contato!</h1>
  <h4 class="fontBaby">Formuláio de contato para duvidas, críticas ou sugestões! Se desejar entre em contato direto pelo whatsapp no botão abaixo do formulário!</h4>
  <br>
  <form [formGroup]="contatoForm" (ngSubmit)="ngSubmit()" *ngIf="!enviado">
    <div class="form-group">
      <label for="contatoInputEmail">Email</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
      <app-form-error [msgErro]="'Email Inválido!'" [mostraErro]="verificaValorTouched('email')"></app-form-error>
      <!-- <small id="emailHelp" class="form-text text-muted">Endereço de e-mail válido.</small> -->
    </div>
    <div class="form-group">
      <label for="contatoInputNome">Nome</label>
      <app-form-error [msgErro]="'Nome Inválido!'" [mostraErro]="verificaValorTouched('nome')"></app-form-error>
      <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
    </div>
    <div class="form-group">
      <label for="contatoInputMessage">Mensagem</label>
      <textarea type="textarea" class="form-control" placeholder="Mensagem" formControlName="message" rows="3"></textarea>
      <app-form-error [msgErro]="'Message Inválida!'" [mostraErro]="verificaValorTouched('message')"></app-form-error>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!contatoForm.valid">Enviar</button>
  </form>

  <div *ngIf="enviado" class="enviado">
      <img src="../assets/imgs/enviado.png" alt="">  
      <h3>Enviado com sucesso!</h3>
    </div>
    <br>
    <br>
</div>
<br>
<!--  fim do form contato -->

<app-social></app-social>