<div class="box color2">
  <div class="container social">
    <a href="https://www.facebook.com/nallubaby/"><img src="../assets/imgs/fac.png"></a>
    <a href="https://www.instagram.com/nallu.baby/"><img src="../assets/imgs/ins.png"></a>
    <a href="https://www.flickr.com/photos/124748065@N03/"><img src="../assets/imgs/flic.png"></a>
    <a href="https://api.whatsapp.com/send?phone=558399996029&text=Seja%20bem%20vindo%20a%20Nallubaby!">
      <img src="../assets/imgs/wha.png">
    </a>
  </div>
</div>