.py-5.text-center.container {
    color: #808080;
}

.logoImg{
    width: 148px;
}

.social img {
    width: 70px;
}

.container.social {
    text-align: center;
    padding: 21px 0;
    margin-bottom: 10px;
}

